<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
         bootstrap="vendor/autoload.php"
         verbose="true">
    <php>
        <env name="DB_CONNECTION" value="pgsql"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="5432"/>
        <env name="DB_DATABASE" value="test"/>
        <env name="DB_SCHEMA" value="test"/>
        <env name="DB_USERNAME" value="test"/>
        <env name="DB_PASSWORD" value="test"/>
    </php>
    <testsuites>
        <testsuite name="test-reset-migration">
            <file>src/Xolens/PgLaraenquery/Test/CleanSchemaTest.php</file>
        </testsuite> 
        <testsuite name="test-repository">
            <file>src/Xolens/PgLaraenquery/Test/Repository/GroupRepositoryTest.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/FormRepositoryTest.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/FieldRepositoryTest.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/ParticipantRepositoryTest.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/GroupParticipantRepositoryTest.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/TableFieldRepositoryTest.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/SectionRepositoryTest.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/EnquiryRepositoryTest.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/FieldValueRepositoryTest.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/FormSectionRepositoryTest.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/ParticipantEnquiryRepositoryTest.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/TableColumnRepositoryTest.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/SectionFieldRepositoryTest.php</file>
        </testsuite>
        <testsuite name="test-view-repository">
            <file>src/Xolens/PgLaraenquery/Test/Repository/View/GroupViewRepository.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/View/FormViewRepository.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/View/FieldViewRepository.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/View/ParticipantViewRepository.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/View/GroupParticipantViewRepository.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/View/TableFieldViewRepository.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/View/SectionViewRepository.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/View/EnquiryViewRepository.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/View/FieldValueViewRepository.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/View/FormSectionViewRepository.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/View/ParticipantEnquiryViewRepository.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/View/TableColumnViewRepository.php</file>
            <file>src/Xolens/PgLaraenquery/Test/Repository/View/SectionFieldViewRepository.php</file>
        </testsuite> 
    </testsuites>
</phpunit>